<!DOCTYPE html>
<html lang="en">
    <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="content-type" content="text/html; charset=utf-8">

      <!-- Enable responsiveness on mobile devices-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

      <title>{% block title %}{{ config.title }}{% endblock title %}</title>

      <!-- CSS -->
      <link rel="stylesheet" href="{{ get_url(path="print.css", trailing_slash=false) }}" media="print">
      <link rel="stylesheet" href="{{ get_url(path="poole.css", trailing_slash=false) }}">
      <link rel="stylesheet" href="{{ get_url(path="hyde.css", trailing_slash=false) }}">

      {% if config.generate_rss %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
      {% endif %}

      {% block extra_head %}
      {% endblock extra_head %}
    </head>

<body>
    {% block sidebar %}
        <div class="sidebar">
            <div class="container {% if config.extra.hyde_sticky %}sidebar-sticky{% endif %}">
                <div class="sidebar-about">
                    {% block sidebar_about %}
                        <a href="{{ config.base_url }}"><h1>{{ config.title }}</h1></a>
                    {% endblock sidebar_about %}
                </div>

                <ul class="sidebar-nav">
                    {% block sidebar_nav %}
                    {% for link in config.extra.hyde_links %}
                    <li class="sidebar-nav-item"><a href="{{link.url}}">{{link.name}}</a></li>
                    {% endfor %}
                    {% endblock sidebar_nav %}
                </ul>
            </div>
        </div>
    {% endblock sidebar %}
   
    <div class="content container">
        {% block content %}
        <body>
            <p><span>Hello, thanks for stopping by.</span></p>
            <p><span>You&#39;re probably here because: </span></p>
            <p>&nbsp;</p>
            <details> 
              <summary><strong>You are interested in my work and/or working with me</strong></summary>
              <p>&nbsp;</p>
            <p>
            I don't consider myself to belong to single 'sector,' but the two main buckets that I work within are positive social/environmental impact and technology, specifically in that order. 
            </p>
            <p>
            My toolset covers strategy, digital product design, research, communications, marketing, and operations, loosely in that order. 
            </p>
            <p>
            Here is a graphic that illustrates the above:
            </p>
            <a href="https://d2w9rnfcy7mm78.cloudfront.net/4700633/original_138ac0042de42e0d0ccb85fd7d07a9fb.png?1564093425" target="new">
                <img src="https://d2w9rnfcy7mm78.cloudfront.net/4700633/original_138ac0042de42e0d0ccb85fd7d07a9fb.png?1564093425" alt="random image">
            </a> 
            </details>
            <p>&nbsp;</p>
            <details> 
              <summary> <strong>You came across a writing entry</strong> </summary>
              <p>&nbsp;</p> 
              <p>
                 In addition to documenting my life, the posts on the <i>Entries</i> section of this site are my attempt to make sense of the world around me.
              </p>
              <p>
               I started writing here to discuss topics that I thought were not sufficiently discussed elsewhere. As such, I hope you feel free to reach out to me with any thoughts or reactions.
              </p>
                <p>
            Thank you for reading 🍃
              </p>
            </details>
            <p>&nbsp;</p>
            <details> 
              <summary> <strong>You are a friend/family </strong> </summary>
              <p>&nbsp;</p> 
              <p>
                For quite some time I've felt it was difficult to describe exactly "what I do" to you all. I hope that this site serves as a blueprint for understanding my approach towards work, and generally where my mind is at. 
              </p>
              <p>
              Thanks, as always, for your support. Much love.  
              </p> 
            </details>
            <p>&nbsp;</p>
            <p><span>Onwards,</span></p>
            <p><span>Bryan</span></p>
            <p><em><span>Summer 2019</span></em></p>
            </body>
            </div>
        {% endblock content %}
    </div>
<body>

